.portfolio-navbar.navbar {
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  background: #006bed;
}

.portfolio-block.block-intro .avatar {
  width: 175px;
  height: 176px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
}

